

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(133, 133, 133);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.caixa-principal-maquina {
    background-color: white;
    border: 3px solid rgb(206, 54, 54);
    border-radius: 6px;
    box-shadow:  1px 1px 1px 1px rgba(225, 225, 225, 0.721);
}
.titulo {
    font-size: 1.25rem;
    font-weight: 600;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype";
    color: rgb(206, 54, 54);
}
.btn-secondary {
    font-size: 18px;
    font-weight: 600;
    padding: 14px 54px;
    background-color: rgba(225, 225, 225, 0.721);
    color: rgb(41, 41, 41);
}
.btn-danger {
    font-size: 18px;
    font-weight: 600;
    padding: 14px 24px;
}
.btn-success {
    font-size: 18px;
    font-weight: 600;
    padding: 14px 16px;
}
.btn-outline-success {
    font-size: 42px;
    font-weight: 700;
    padding: 2px 16px;
}
.btn-outline-primary {
    font-size: 42px;
    font-weight: 700;
    padding: 2px 16px;
}
.btn-outline-danger {
    font-size: 42px;
    font-weight: 700;
    padding: 1px 16px;
}
.btn-info {
    width: max-content;
    font-size: 26px;
    font-weight: 600;
    padding: 14px 16px;
}
.supertitulo {
    font-size: 2.4rem;
    font-weight: 600;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype";
    color: #198754;
}
.supertitulo2 {
    font-size: 2rem;
    font-weight: 600;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype";
    color: #292929;
}
.supertitulo3 {
    font-size: 3.2rem;
    font-weight: 700;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype";
    color: rgb(255, 0, 0);
}
.supertitulo4 {
    font-size: 2.4rem;
    font-weight: 600;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype";
    color: #0d6efd;
}
.supertitulo5 {
    font-size: 2.4rem;
    font-weight: 700;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype";
    color: rgb(255, 0, 0);
}
.numerosTrocando {
    font-size: 4.2rem;
    font-weight: 700;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype";
    color: #ef941e;
}
.linha {
    margin-top: 5px;
    font-weight: 600;
}
.estoque {
    font-weight: 700;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype";
    color: rgb(255, 0, 0);
}