
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(217, 217, 217);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.caixa-urna {
    background-color: white;
    border: 3px solid rgb(154, 154, 154);
    border-radius: 6px;
    box-shadow:  8px 8px 8px 8px rgba(189, 176, 176, 0.721);;
}
.caixa-esquerda {
    border-right:  3px solid rgb(154, 154, 154);
    
}
.caixa-direita {
    background-color: rgb(46, 46, 46);
    border: 2px solid rgb(46, 46, 46);
}
.caixa-branca {
    background-color: whitesmoke;
    border-radius: 5px;
    width: max-content;
}
.numero-urna {
    color: rgb(66, 66, 176);
    font-size: 60px;
    font-weight: 700;
    margin-top: 2rem;
    margin-left: 16rem;
}
.descricao {
    font-size: 18px;
    font-weight: 600;
}
.numero-urna2 {
    color: rgb(66, 66, 176);
    font-size: 60px;
    font-weight: 700;
    margin-top: 2rem;
    margin-left: 1rem;
}
.titulo_logo {
    position: relative;
    font-size: 3.2rem;
    font-weight: 600;
    top: 18px;
    left: 10px;
    margin-left: 12px;
    margin-right: 42px;
}
.tela {
    border: 5px solid rgb(76, 76, 76);
    border-radius: 3px;
    width: 26rem;
    height: 24rem;
    margin-left: 6rem;
}
.imagem_justica {
    border-radius: 5px;
    width: 7rem;
    height: 7rem;
}
.btn-secondary {
    font-size: 18px;
    font-weight: 600;
    padding: 14px 54px;
}
.btn-danger {
    font-size: 18px;
    font-weight: 600;
    padding: 14px 24px;
}
.btn-success {
    font-size: 18px;
    font-weight: 600;
    padding: 14px 16px;
}
.btn-light {
    font-size: 18px;
    font-weight: 600;
    padding: 14px 24px;
}
.table {
    background-color:  rgb(43, 43, 43);
    border: 3px solid rgb(76, 76, 76);
}
.table tr td{
    padding-left: 2.5rem;
}