@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: gray;
    
}
h1 {
    font-family: 'Ramaraja', serif;
    color: rgb(241, 241, 241);
}
h3 {
    font-family: 'Times New Roman', Times, serif;
}
/*Header*/
.navbar-brand {
    color: white;
}
/*Imagem*/
.caixa {
    margin-top: 32px;
    width: 320px;
    height: 320px;
    background-color: rgb(44, 44, 44);

}
.paisagem {
    height: 280px;
    width: 280px;
}
.dropdown-menu {
    background-color: rgb(235, 235, 235);
    color: white;
}
.dropdown-item {
    background-color: rgb(196, 196, 196);
    color: white;
}
/*Footer*/
.footer {
   max-width: max-content;
   width: auto;
   height: 12px;
   background-color: black;
}

/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 768px) { 
    nav .navbar .nav > li {
        display: block;
        width: 100%;
    }
    .navbar img {
        margin: auto;
    }
    .container {
        display: block;
    }
    .navbar-collapse {
        max-height: 280px;
        overflow-y: auto;
    }
}

@media screen and (orientation:landscape) {
    body {
        height: calc(100vh - 110px);
     }
}
*/
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) { 
 
   
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
 }

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (max-width: 992px) { 
    

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { 
    
}
