* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: gray;
}
/*Header*/

.navbar-brand {
    color: white;
}
.paisagem {
    margin: 40px;
    height: 320px;
    width: 320px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) { 
    nav .navbar .nav > li {
        display: block;
        width: 100%;
    }
    .navbar img {
        margin: auto;
    }
    .container {
        display: block;
    }
    .navbar-collapse {
        max-height: 280px;
        overflow-y: auto;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { }

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) { }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { }
