* {
    box-sizing: border-box;
}
body {
    background-color: green;
    margin: 0;
}
.aux {
    background-color: gray;
    width: 680px;
    border-radius: 5px;
}
h1 {
    font-size: 2.75rem;
    font-family: Arial, Helvetica, sans-serif;
    color:  rgb(255, 247, 0);
    font-weight: bold;
    margin-left: 1rem;
}
.aux2 {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
}
.pw-container {
    width: 400px;
    background-color: gray;
    height: 280px;
    border-radius: 8px;
    box-shadow: 10px 10px 5px 10px rgb(47, 255, 113);
    margin-bottom: 5rem;
}
.pw {
    height: 100px;
    width: 100%;
    background-color: rgb(86, 81, 81);
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.5rem;
    color: white;
    padding: 1rem;
    border-radius: 5px;
}
.pw button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 0.25rem 0.5rem;
    background-color: whitesmoke;
    border: none;
    border-radius: 3px;
    color: red;
    font-weight: bold;
}
.pw-header {
    padding: 1rem;
}
.pw-body button {
    margin-top: 1.3rem;
    position: absolute;
    padding: 0.25rem 0.5rem;
    background-color: whitesmoke;
    border: none;
    border-radius: 3px;
    color: red;
    font-weight: bold;
}
.pw-body {
    color: rgb(255, 247, 0);
    margin: 1rem;
    
}
.form-control {
    display: flex;
    justify-content: space-between;


}
input {
    border-radius: 2px;
}