* {
    box-sizing: border-box;
}
body {
    background-color: rgb(221, 251, 255);
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}
button {
    background-color: aqua;
    color: purple;
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 2rem;
    padding: 1rem;
    width: 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
h1 {
    color: purple;
    margin-left: 2rem;
}
input {
    width: 660px;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1rem;
    color: purple;
}
.aux {    
    font-weight: bolder;
    margin-left: 2rem;
}
.main-container {
    background-color: white;
    width: 50%;
    max-width: 100%;
    border-radius: 10px;
    height: 640px;
}
.content-container {
    margin-top: 8rem;
    margin-left: 2rem;
}
.aux2 {
    margin-top: 4rem;
    margin-left: 2rem;
}
.aux3 {
    margin-left: 2rem;
}